### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
### FILES ###
# Ignorar arquivo com nome muito longo gerado por compilação
#src/production/Roteiro_Sala-main/production/Roteiro_Sala-main/production/Roteiro_Sala-main/production/Roteiro_Sala-main/production/Roteiro_Sala-main/production/Roteiro_Sala-main/DoublyLinkedListTest (Emcapsulamento).txt

# Ignorar toda a pasta production (opcional, mas recomendado)
production/